body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(70, 70, 70, 0.2);
}

.topimage {
  background-image: url(img/bg-75.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
}

li {
  padding: 5px;
  display: inline;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: lightgray;
}

h1 {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.toptext {
  position: absolute;
}
