body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: url(img/bg-75.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header CSS */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(23, 23, 23, 0.2);
}

nav {
  display: flex;
  flex-direction: row;
}

li {
  padding-right: 35px;
  display: inline;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: lightgray;
}

a:link {
  text-decoration: none;
  color: lightgray;
}

a:visited {
  color: lightgray;
}

a:hover,
a:active {
  color: rgb(191, 146, 91);
}

h1,
h2,
h3 {
  font-family: "Barlow Semi Condensed", sans-serif;
}

/* Welcome CSS */

.toptext {
  position: absolute;
  width: 700px;
  margin-top: 100px;
  left: 50%;
}

.welcome {
  color: rgb(191, 146, 91);
  font-size: 1em;
  margin-bottom: 0px;
}

.your-style {
  margin-top: 2px;
  margin-bottom: 24px;
  font-size: 4em;
}

span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.toptextbox {
  width: 500px;
  padding-left: 4em;
  border-left: 2px solid rgb(191, 146, 91);
}

.learn-more-box {
  display: inline;
  padding: 10px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: rgb(191, 146, 91);
  border: 2px solid rgb(191, 146, 91);
}

.learn-more-box a {
  color: rgb(191, 146, 91);
}

/* Services CSS */

.services-item1 {
  background-color: rgb(210, 165, 111);
  grid-area: hairstyles;
}
.services-item2 {
  grid-area: beardtrim;
}
.services-item3 {
  background-color: rgb(210, 165, 111);
  grid-area: hotshave;
}
.services-item4 {
  grid-area: hairshampoo;
}

.services-container {
  position: absolute;
  top: 750px;
  display: grid;
  grid-template-areas: "hairstyles beardtrim hotshave hairshampoo";
  background-color: rgb(191, 146, 91);
}

.services-container > div {
  text-align: center;
  padding: 2em;
}

.services-container h2 {
  font-family: "Poppins", sans-serif;
  margin-top: -3em;
}

.services-container img {
  position: relative;
  top: -100px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* About CSS */

.about-container {
  display: grid;
  /* position: absolute;
  top: 900px; */
}

.about-container img {
  height: 800px;
  width: 200px;
}

/* Media Queries */

@media only screen and (max-width: 700px) {
  .services-container {
    grid-template-areas:
      "hairstyles beardtrim"
      "hotshave hairshampoo";
  }

  .services-container img {
    top: none;
  }
}
